<div class="scorecard-label">
    <h5 class="scorecard-title">{{Title}}</h5>
    <span class="scorecard-motto d-none d-lg-block">{{motto}}</span>
</div>
<div class="scorecard-management">
    <div class="management-title d-none d-lg-block">
        <p>MANAGEMENT TEAM:</p>
    </div>
    <div class="management-element d-lg-flex">
        <img src="/sites/pa/tools/v2/img/hubs/director.jpg">
        <div>
            <p>Lisandro Martin</p>
            <p>Regional Director</p>
        </div>
    </div>
    <div class="management-element d-lg-flex">
        <img src="/sites/pa/tools/v2/img/hubs/west.jpg">
        <div>
            <p>Benoit Thierry</p>
            <p>Hub Head, West Africa</p>
        </div>
    </div>
    <div class="management-element d-lg-flex">
        <img src="/sites/pa/tools/v2/img/hubs/coastal.jpg">
        <div>
            <p>Abdul Barry</p>
            <p>Hub Head, Coastal Africa</p>
        </div>
    </div>
    <div class="management-element d-lg-flex">
        <img src="/sites/pa/tools/v2/img/hubs/central.jpg">
        <div>
            <p>Abdelhaq Hanafi</p>
            <p>Hub Head, Central Africa</p>
        </div>
    </div>
</div>
{{#each data}}
<div class="scorecard-row d-lg-flex justify-content-lg-center">
    <div class="title-square {{getSquareColor wca}}">
        <div>
            {{{getRowTitle wca}}}
        </div>
    </div>
	<div class="hub-row-main hub-row-left">
		<div class="hub-row-title">
			<p>{{wca.indicator1}}</p>
		</div>
		<div class="hub-row-container container" id="{{@key}}-hub-row-left">
			<div class="row">
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">WCA</p>
					</div>
					<div class="hub-square-indicators">
						<span class="wca-indicator-value hub-indicator-value">{{getDash wca.value1}}</span>
						<span class="hub-separator">/</span>
						<span class="wca-indicator-target hub-indicator-target">{{getValue wca.target1}}</span>
						<i class="wca-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow wca.arrow1}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="wca-indicator-date hub-indicator-date">{{wca.date1}}</span>
						<span class="hub-separator">=</span>
						<span class="wca-indicator-old">{{getNA wca.old1}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="wca-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood wca.likelihood1}}"></div>
						</span>
					</div>
				</div>
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">Dakar</p>
					</div>
					<div class="hub-square-indicators">
						<span class="west-indicator-value hub-indicator-value">{{west.value1}}</span>
						<span class="hub-separator">/</span>
						<span class="west-indicator-target hub-indicator-target">{{west.target1}}</span>
						<i class="west-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow west.arrow1}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="west-indicator-date hub-indicator-date">{{west.date1}}</span>
						<span class="hub-separator">=</span>
						<span class="west-indicator-old">{{west.old1}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="west-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood west.likelihood1}}"></div>
						</span>
					</div>
				</div>
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">Abidjan</p>
					</div>
					<div class="hub-square-indicators">
						<span class="coastal-indicator-value hub-indicator-value">{{coastal.value1}}</span>
						<span class="hub-separator">/</span>
						<span class="coastal-indicator-target hub-indicator-target">{{coastal.target1}}</span>
						<i class="coastal-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow coastal.arrow1}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="coastal-indicator-date hub-indicator-date">{{coastal.date1}}</span>
						<span class="hub-separator">=</span>
						<span class="coastal-indicator-old">{{coastal.old1}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="coastal-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood coastal.likelihood1}}"></div>
						</span>
					</div>
				</div>
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">Yaoundé</p>
					</div>
					<div class="hub-square-indicators">
						<span class="central-indicator-value hub-indicator-value">{{central.value1}}</span>
						<span class="hub-separator">/</span>
						<span class="central-indicator-target hub-indicator-target">{{central.target1}}</span>
						<i class="central-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow central.arrow1}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="central-indicator-date hub-indicator-date">{{central.date1}}</span>
						<span class="hub-separator">=</span>
						<span class="central-indicator-old">{{central.old1}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="central-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood central.likelihood1}}"></div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hub-row-main hub-row-right">
		<div class="hub-row-title">
			<p>{{wca.indicator2}}</p>
		</div>
		<div class="hub-row-container container" id="{{@key}}-hub-row-right">
			<div class="row">
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">WCA</p>
					</div>
					<div class="hub-square-indicators">
						<span class="wca-indicator-value hub-indicator-value">{{getDash wca.value2}}</span>
						<span class="hub-separator">/</span>
						<span class="wca-indicator-target hub-indicator-target">{{getValue wca.target2}}</span>
						<i class="wca-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow wca.arrow2}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="wca-indicator-date hub-indicator-date">{{wca.date2}}</span>
						<span class="hub-separator">=</span>
						<span class="wca-indicator-old">{{getNA wca.old2}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="wca-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood wca.likelihood2}}"></div>
						</span>
					</div>
				</div>
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">Dakar</p>
					</div>
					<div class="hub-square-indicators">
						<span class="west-indicator-value hub-indicator-value">{{west.value2}}</span>
						<span class="hub-separator">/</span>
						<span class="west-indicator-target hub-indicator-target">{{west.target2}}</span>
						<i class="west-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow west.arrow2}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="west-indicator-date hub-indicator-date">{{west.date2}}</span>
						<span class="hub-separator">=</span>
						<span class="west-indicator-old">{{west.old2}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="west-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood west.likelihood2}}"></div>
						</span>
					</div>
				</div>
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">Abidjan</p>
					</div>
					<div class="hub-square-indicators">
						<span class="coastal-indicator-value hub-indicator-value">{{coastal.value2}}</span>
						<span class="hub-separator">/</span>
						<span class="coastal-indicator-target hub-indicator-target">{{coastal.target2}}</span>
						<i class="coastal-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow coastal.arrow2}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="coastal-indicator-date hub-indicator-date">{{coastal.date2}}</span>
						<span class="hub-separator">=</span>
						<span class="coastal-indicator-old">{{coastal.old2}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="coastal-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood coastal.likelihood2}}"></div>
						</span>
					</div>
				</div>
				<div class="hub-square bordered-square col">
					<div>
						<p class="hub-indicator-title">Yaoundé</p>
					</div>
					<div class="hub-square-indicators">
						<span class="central-indicator-value hub-indicator-value">{{central.value2}}</span>
						<span class="hub-separator">/</span>
						<span class="central-indicator-target hub-indicator-target">{{central.target2}}</span>
						<i class="central-indicator-arrow hub-arrow scorecard-indicator-arrow {{getArrow central.arrow2}}"></i>
					</div>
					<div class="hub-square-indicators">
						<span class="central-indicator-date hub-indicator-date">{{central.date2}}</span>
						<span class="hub-separator">=</span>
						<span class="central-indicator-old">{{central.old2}}</span>
					</div>
					<div class="hub-square-likelihood">
						<span>Likelihood</span>
						<span class="central-indicator-likelihood scorecard-indicator-likelihood">
							<div class="line {{getLikelihood central.likelihood2}}"></div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/each}}