<div class="scorecard-label">
    <h3 class="scorecard-title"></h3>
    <span class="scorecard-motto"></span>
</div>
<div class="scorecard-main-comment scorecard-comment-box">
    <div class="scorecard-main-summary comment-inner">{{{comment}}}</div>
</div>
{{#each wcadata}}
<div class="scorecard-row">
    <div class="title-square {{getSquareColor this}}">
        <div>
            {{{getRowTitle this}}}
        </div>
    </div>
    <div class="value-square">
        <div>
            <p class="scorecard-indicator-title">{{lookup this 11}}</p>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-value">{{lookup this 1}}</span>
            <span class="scorecard-separator">/</span>
            <span class="scorecard-indicator-target">{{lookup this 3}}</span>
            <i class="scorecard-indicator-arrow"></i>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-value"></span>
            <span class="scorecard-separator">=</span>
            <span class="scorecard-indicator-target"></span>
        </div>
        <div>
            <span>Likelihood</span>
            <span class="scorecard-indicator-likelihood"></span>
        </div>
    </div>
    <div class="value-square">
        <div>
            <p class="scorecard-indicator-title">{{lookup this 11}}</p>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-value">{{lookup this 6}}</span>
            <span class="scorecard-separator">/</span>
            <span class="scorecard-indicator-target">{{lookup this 8}}</span>
            <i class="scorecard-indicator-arrow"></i>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-value"></span>
            <span class="scorecard-separator">=</span>
            <span class="scorecard-indicator-target"></span>
        </div>
        <div>
            <span>Likelihood</span>
            <span class="scorecard-indicator-likelihood"></span>
        </div>
    </div>
    <div class="comment-square scorecard-comment-box">
        <div class="scorecard-comment">{{{lookup this 0}}}</div>
    </div>
</div>
{{/each}}