<div class="scorecard-label">
    <h5 class="scorecard-title">{{Title}}</h5>
    <span class="scorecard-motto d-none d-lg-block">{{motto}}</span>
</div>
<div class="scorecard-main-comment scorecard-comment-box">
    <div class="scorecard-main-summary comment-inner">{{{comment}}}</div>
</div>
{{#each wcadata}}
<div class="scorecard-row d-lg-flex justify-content-lg-center">
    <div class="title-square {{getSquareColor this}}">
        <div>
            {{{getRowTitle this}}}
        </div>
    </div>
    <div class="value-square bordered-square">
        <div>
            <p class="scorecard-indicator-title">{{indicator1}}</p>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-value">{{value1}}</span>
            <span class="scorecard-separator">/</span>
            <span class="scorecard-indicator-target">{{target1}}</span>
            <i class="scorecard-indicator-arrow {{getArrow arrow1}}"></i>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-date">{{date1}}</span>
            <span class="scorecard-separator">=</span>
            <span class="scorecard-indicator-old">{{old1}}</span>
        </div>
        <div>
            <span>Likelihood</span>
            <span class="scorecard-indicator-likelihood">
                <div class="line {{getLikelihood likelihood1}}"></div>
            </span>
        </div>
    </div>
    <div class="value-square bordered-square">
        <div>
            <p class="scorecard-indicator-title">{{indicator2}}</p>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-value">{{value2}}</span>
            <span class="scorecard-separator">/</span>
            <span class="scorecard-indicator-target">{{target2}}</span>
            <i class="scorecard-indicator-arrow {{getArrow arrow2}}"></i>
        </div>
        <div class="value-square-indicators">
            <span class="scorecard-indicator-date">{{date2}}</span>
            <span class="scorecard-separator">=</span>
            <span class="scorecard-indicator-old">{{old2}}</span>
        </div>
        <div>
            <span>Likelihood</span>
            <span class="scorecard-indicator-likelihood">
                <div class="line {{getLikelihood likelihood2}}"></div>
            </span>
        </div>
    </div>
    <div class="comment-square scorecard-comment-box bordered-square">
        <div class="scorecard-comment">{{{description}}}</div>
    </div>
</div>
{{/each}}